.balance_main_div{
    text-align: center;
}
.dollar_equal{
    margin-top: 20px;
    font-weight: 700;
}
.dlr{
    width: 80px;
}
.dollar_form{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.dollar_form>label{
    margin-top: 3px;
}
.img_div{
    margin-top: 25px;
    margin-bottom: 20px;
}
.qixi{
    margin-left: 5px;
    margin-top: 7px;
}
.wm{
    margin-left: -5px;
    margin-top: 7px;

}