.subLink_div{
    /* margin: 20px auto; */
    margin-top: 20px;
    text-align: center;
}

.subLink_div>.basket_sub_links{
    padding: 4px 12px;
    color: #fed327;
    border: 0;
    border-radius: 3px;
    background: #222;
    box-shadow: inset 0 1px 0 #383838, 0 2px 6px #060606;
    margin: 0 5px;
    vertical-align: top;
}
.basket_sub_links:hover{
    text-decoration: underline;
}

.basket_price_div{
    text-align: center;
    margin-top: 40px;
}
.basket_price {
    font-size: 1.48em;
    color: rgb(68, 67, 67);
    margin-bottom: 5px;
}
.basket_strong{
    font-size: 1.1em;
}
@media screen and (max-width:495px){
    .subLink_div{
        border: 2px solid;
        display: flex;
        flex-wrap: wrap;
        margin-left: 10px;
        /* margin: 30px; */
        padding-top: 10px;
    }
    .subLink_div>.basket_sub_links{
        /* margin-top: 5px; */
        margin-bottom: 10px;
    }
}