.rows_containter{
    text-align: center;
}
.num{
    padding: 4px 12px;
    color: #eeedec;
    border: 0;
    border-radius: 3px;
    background: #222;
    box-shadow: inset 0 1px 0 #383838, 0 2px 6px #060606;
    margin: 15px auto;
    vertical-align: top;
    width: fit-content;
    
}
.white{
    color: gainsboro;
}
.cvv_form{
    width: 800px;
    margin: 25px auto;
    text-align: center;
}
.cvv_form>.bin_input {
    margin-left: 15px;
    margin-bottom: 10px;
}
.cvv_slt,.bin_input{
    margin-left: 15px;
}

.added{
    position: absolute;
    background: #dbfcdb;
    border: 1px solid #06b006;
    border-radius: 3px;
    padding: 5px;
    color: #06b006;
    margin: 5px 0;
    width: 70%;
    list-style: none;
}

@media screen and (max-width:990px){
    .added{
        left: 20px;
        width: 90%;
        right: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width:758px){
    .bin_input{
        margin-top: 10px;
    }
}
@media screen and (max-width:830px){
    .cvv_form{
        /* border: 2px solid; */
        width: auto;

    }
    .cvv_form>.cvv_slt{
        margin-top: 10px;
    }
}
@media screen and (max-width:500px){
    .cvv_form{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        /* flex-direction: column; */

    }
    .filter_btn{
        margin-top: 10px;
    }
}
@media screen and (max-width:414px){
    .cvv_form{
        display: flex;
        justify-content: inherit;
        /* flex-wrap: wrap; */
        flex-direction: column;
        margin-right: 20px;
    }
    .cvv_slt{
        width: 80%;
    }
    .bin_input{
        margin-bottom: 0px;
        margin-top: 10px;
        width: 80%;
    }
    .br{
        display: none !important;
    }
    .filter_btn{
        margin-top: 10px;
    }
}
@media screen and (max-width:405px){
    .cvv_form{
        /* border: 2px solid; */
        width: auto;

    }
    .cvv_form>.bin_input{
        margin-top: 10px;
        margin-bottom: 0px;
    }
}