.main_error_div{
    width: 940px;
    margin: 20px auto;
}
.error_ul{
    /* border: 2px solid red; */
    background: #fce9e9;
    border: 1px solid #f00;
    border-radius: 3px;
    padding: 5px;
    color: #f00;
    margin: 5px 0;
    list-style: none;
}
.error_ul::marker{
    color: #f00;
    font-size: 23px;
    /* content: ; */
}

@media screen and (max-width:990px){
    .main_error_div{
        width: 100%;
        /* margin: 20px 20px; */
    }
    .error_ul{
        margin: 5px 20px;
    }
}
@media screen and (max-width:535px){
    
    .error_ul{
        margin: 5px 10px;
    }
}