.blnce_label{
    margin-left: 8px;
    margin-top: 5px;
}
.paypal{
    width: 60px;
}

.paypal_flex{
    display: flex;
}
@media screen and (max-width:670px){
    .blnce_label{
        margin-top: 14px;
    }
    .paypal{
        margin-top: 10px;
    }
}
@media screen and (max-width:390px){
    .paypal_flex{
       margin-left: 20px;
       margin-right: 20px;
       flex-wrap: wrap;
    }
}