.search_dob_main_div{
    width: 940px;
    margin: 10px auto;
}
.search_dib_para1{
    margin-top: 10px;
}
.search_dib_para2{
    margin-top: 10px;
    font-weight: 700;
}
.search_dob_form_main_div{
    margin: 30px 0px;
}
.search_dob_table{
    border-collapse: separate;
    border-spacing: 0;
    border: 0px;
    text-indent: 0;
    margin-top: 20px;
    font-size: 1em;
    margin-left: 60px;
    /* border: 2px solid; */
}
.search_dob_table tbody tr td {
    color: #333;
    font-weight: 300;
    padding: 6px;
    margin-top: 20px;
}
.search_dob_table tbody tr:hover{
    background: #f3f3f3;

}
.dob_send_btn{
    text-align: end ;
}
.select_dob_form{
    margin-left: 15px;
}

@media screen and (max-width:990px){
    .search_dob_main_div{
        width: 100%;
        padding-left: 22px;
    }
}
@media screen and (max-width:700px){
    .search_dob_form_main_div{
        margin: 0px;
    }
}
@media screen and (max-width:535px){
    .search_dob_main_div{
        width: 100%;
        padding-left: 10px;
    }
    .search_dob_table tbody tr td{
        padding: 6px 0px;
    }
}

@media screen and (max-width:435px){
    .search_dob_table{
        margin-left: 0px;
        
    }
    .dob_code{
        display: none;
    }
}