@import url('http://fonts.googleapis.com/css?family=Droid+Sans:400,700');
@import url('http://fonts.googleapis.com/css?family=Droid+Serif:400italic');

*{
  margin: 0px ;
  padding: 0px;
  box-sizing: border-box;
  font: 13px "Droid Sans", "Helvetica Neue", Helvetica, sans-serif;
}

